version: '3.8'

services:
  server:
    build: .
    ports:
      - "80:3000"
    depends_on:
      - mongo
    environment:
      
      - MONGO_URI=mongodb://mongo:27017/schooldb
      
      - TEST_MONGO_URI=mongodb://mongo:27017/school_test_db
    volumes:
      - .:/app
      - /app/node_modules

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: